<ion-header>
  <ion-toolbar>
    <ion-title>Détails article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <swiper
    [slidesPerView]="1"
    [loop]="true"
    [autoplay]="{ delay: 3000 }"
    [pagination]="{ clickable: true }"
  >
    <ng-template swiperSlide>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quae omnis velit, illo ea veritatis facilis exercitationem aut nemo quibusdam voluptas ducimus aliquid ipsum possimus ab architecto delectus enim fugit.</p>
    </ng-template>

    <ng-template swiperSlide>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, vel corrupti. Consectetur saepe, maiores, voluptatum doloremque obcaecati quo omnis mollitia excepturi rerum pariatur distinctio dolores nihil architecto fugiat numquam aut!</p>
    </ng-template>

    <ng-template swiperSlide>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi reprehenderit facere est minus, eum inventore illo, cumque repudiandae a cum doloribus. Molestias cum impedit id consectetur tenetur, praesentium nam.</p>
    </ng-template>
  </swiper>
  </ion-card>
</ion-content>
