.slide-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin: auto;
}

.product-card {
  margin-top: 10px;
  border-radius: 16px;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  color: #2dd36f;
}

.stars {
  margin: 8px 0;
}

.description {
  font-size: 0.95em;
  color: #444;
  margin-bottom: 12px;
}
.button-buy {
  background-color: #3880ff;
  color: white;
  border-radius: 8px;
}