@media (min-width: 768px) {
  ion-menu {
    width: 250px; /* largeur fixe du menu */
    display: block;
  }

  ion-router-outlet {
    margin-left: 250px; /* espace pour le menu */
  }
}
ion-menu {
  --width: 280px;
}

ion-item h3 {
  font-weight: 600;
}

ion-item p {
  font-size: 12px;
  color: #666;
}

ion-item-divider {
  margin-top: 10px;
  font-weight: bold;
}
