<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>MartStore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Barre de recherche -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterArticles($event)"
    placeholder="Rechercher des articles..."
    animated="true"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let article of filteredArticles"
      button
      (click)="AfficherDetails(article)"
    >
      <ion-thumbnail slot="start">
        <img [src]="article.images && article.images.length ? article.images[0] : 'assets/icon/favicon.png'" alt="image">
      </ion-thumbnail>

      <ion-label>
        <h2>{{ article.titre }}</h2>
        <p class="description">{{ article.description }}</p>
        <p>{{ article.prix | currency:'XAF' }}</p>
        <p class="stars">
          <ng-container *ngFor="let _ of createRange(article.etoiles)">
            <ion-icon name="star" color="warning"></ion-icon>
          </ng-container>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col offset-1 col-10 class="footer">
      <ion-button round large (click)="goToAddProduct()">
        <ion-icon name="camera"></ion-icon>&nbsp;
        vendre un article
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
